@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}


.text-display {
  font-family: 'Protest Guerrilla', sans-serif;
}

.fs-16 {
  font-size: 1rem;
}

.fs-20 {
  font-size: 1.5rem;
}

.outline-none {
  outline: none;
}

.custom-btn:hover {
  background-color: rgb(7, 93, 17) !important;
  color: white;
}

#display {
  background-color: rgb(161, 161, 162);
}

::placeholder {
  color: #000;
}

#title {
  position: relative;
  background-image: linear-gradient(45deg, #ff7200, #5c00ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#title::before {
  position: absolute;
  content: "React Calculator";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #5c00ff, #ff7200);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#title:hover::before {
  opacity: 1;
}

.bg-color-white {
  background-color: #fff;
}

.bg-red {
  background-color: red;
  color: #fff;
}

.bg-green {
  background-color: green;
  color: #fff;

}